{% extends 'base_auth.html' %}

{% block header_login %}
    
    {% if user.is_authenticated %}
        <div class="nav-links">
            <a href="{% url 'register' %}">Registrar</a>
            <a href="{% url 'exit' %}">Cerrar Sesión</a>
        </div>
    {% else %}
    {% endif %}

{% endblock %}

{% block content %}

    <!-- Main -->
    <div class="form-container">.
        {% if user.is_authenticated %}
            <h1 class="title">¡Bienvenido, {{ user.username }}!</h1>
            <p>Has iniciado sesión correctamente.</p>
        {% else %}
            <h1 class="title">Iniciar Sesión</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group full-width">
                    <label for="username">Nombre de Usuario:<span class="required">*</span></label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group full-width">
                    <label for="password">Contraseña:<span class="required">*</span></label>
                    <input type="password" id="password" name="password" required>
                </div>
                <input type="submit" value="Iniciar sesion" id="submit">
            </form>
        {% endif %}
    </div>

{% endblock %}