{% extends 'base_auth.html' %}

{% block header_registro %}
    <div class="nav-links">
        <a href="{% url 'main_view' %}">Volver</a>
        <a href="{% url 'exit' %}">Cerrar Sesión</a>
    </div>
{% endblock %}

{% block content %}

    <!-- Main -->
    <div class="form-container">
        <h1 class="title">Agregar Persona</h1>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group">
                    <label for="primer-nombre">Primer Nombre<span class="required">*</span>:</label>
                    {{ form.primer_nombre }}
                </div>

                <div class="form-group">
                    <label for="segundo-nombre">Segundo Nombre:</label>
                    {{ form.segundo_nombre }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="apellidos">Apellidos<span class="required">*</span>:</label>
                    {{ form.apellidos }}
                </div>

                <div class="form-group">
                    <label for="tipo-doc">Tipo de documento<span class="required">*</span>:</label>
                    {{ form.tipo_documento }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group full-width">
                    <label for="nro-doc">Nro. Documento<span class="required">*</span>:</label>
                    {{ form.nro_documento }}
                </div>
            </div>

            <!-- Línea divisoria -->
            <hr>

            <div class="form-row">
                <div class="form-group">
                    <label for="fecha-nacimiento">Fecha de Nacimiento<span class="required">*</span>:</label>
                    {{ form.fecha_nacimiento }}
                </div>

                <div class="form-group">
                    <label for="genero">Género<span class="required">*</span>:</label>
                    {{ form.genero }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="correo">Correo Electrónico<span class="required">*</span>:</label>
                    {{ form.correo }}
                </div>

                <div class="form-group">
                    <label for="celular">Celular<span class="required">*</span>:</label>
                    {{ form.celular }}
                </div>
            </div>

            <div class="form-group full-width">
                <label for="foto">Foto para Identificación:</label>
                {{ form.foto_identificacion }}
            </div>
                {% if form.errors %}
                <div class="error-message">
                    <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            <input type="submit" value="Registrar" id="submit">
        </form>
    </div>

{% endblock %}




