{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="preload" href="{% static '/styles/styles_auth.css' %}" as="style">
    <link rel="stylesheet" href="{% static '/styles/styles_auth.css' %}">
    <link rel="preload" href="{% static '/styles/styles_common.css' %}" as="style">
    <link rel="stylesheet" href="{% static '/styles/styles_common.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">Mi Empresa</div>
        {% block header_login %}
        {% endblock %}
        {% block header_registro %}
        {% endblock %}
    </header>

    <!-- Main -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        © 2024 Mi Empresa - Todos los derechos reservados
    </footer>
</body>
</html>