{% extends 'base_main.html' %}

{% block header %}
    <a href="{% url 'main_view' %}">Volver</a>
{% endblock %}

{% block content %}

    <!-- Main -->
    <main>
        <div class="form-container">
        <h1 class="title">Detalles de la Persona</h1>
        <hr>
        <div class="container">
            <!-- Título con el nombre de la persona -->
            <div class="title">
                {% if segundo_nombre %}
                    <h2>{{ primer_nombre }} {{ segundo_nombre }} {{ apellidos }}</h2>
                {% else %}
                    <h2>{{ primer_nombre }} {{ apellidos }}</h2>
                {% endif %}
            </div>
        
            <!-- Contenido principal: Columna izquierda con detalles y columna derecha con foto -->
            <div class="content">
                <!-- Columna izquierda: Detalles de la persona -->
                <div class="left-column">
                    <div class="details">
                        <p><strong>Tipo de Documento:</strong> {{ tipo_documento }}</p>
                        <p><strong>Documento:</strong> {{ nro_documento }}</p>
                        <p><strong>Fecha de Nacimiento:</strong> {{ fecha_nacimiento }}</p>
                        <p><strong>Genero:</strong> {{ genero }}</p>
                        <p><strong>Email:</strong> {{ correo }}</p>
                        <p><strong>Teléfono:</strong> {{ celular }}</p>
                    </div>
                </div>
        
                <!-- Columna derecha: Foto de perfil -->
                <div class="right-column">
                    <img src="/media/{{ foto_identificacion }}" alt="Foto de perfil">
                </div>
            </div>
        
            <!-- Sección de etimología del nombre debajo de los detalles y la foto -->
            <div class="etymology">
                <h4>Etimología del nombre</h4>
                <p>
                    {{ etimologia }}
                </p>
            </div>
        </div>
        <hr>
        </div>
    </main>

{% endblock %}