{% extends 'base_main.html' %}

{% block header %}
    <a href="{% url 'main_view' %}">Volver</a>
{% endblock %}

{% block content %}

    <!-- Main -->
    <main>
        <div class="form-container">
        <h1 class="title">Detalles de la Persona</h1>
        <hr>
        <div class="container">
            <!-- Título con el nombre de la persona -->
            <div class="title">
                {% if persona.segundo_nombre %}
                    <h2>{{ persona.primer_nombre }} {{ persona.segundo_nombre }} {{ persona.apellidos }}</h2>
                {% else %}
                    <h2>{{ persona.primer_nombre }} {{ persona.apellidos }}</h2>
                {% endif %}
            </div>
        
            <!-- Contenido principal: Columna izquierda con detalles y columna derecha con foto -->
            <div class="content">
                <!-- Columna izquierda: Detalles de la persona -->
                <div class="left-column">
                    <div class="details">
                        <p><strong>Tipo de Documento:</strong> {{ persona.tipo_documento }}</p>
                        <p><strong>Documento:</strong> {{ persona.nro_documento }}</p>
                        <p><strong>Fecha de Nacimiento:</strong> {{ persona.fecha_nacimiento }}</p>
                        <p><strong>Genero:</strong> {{ persona.genero }}</p>
                        <p><strong>Email:</strong> {{ persona.correo }}</p>
                        <p><strong>Teléfono:</strong> {{ persona.celular }}</p>
                    </div>
                </div>
        
                <!-- Columna derecha: Foto de perfil -->
                <div class="right-column">
                    <img src="{{ persona.foto_identificacion.url }}" alt="Foto de perfil">
                </div>
            </div>
        
            <!-- Sección de etimología del nombre debajo de los detalles y la foto -->
            <div class="etymology">
                <h4>Etimología del nombre</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et dictum metus. 
                    Cras sollicitudin, nisi a fringilla volutpat, nulla dui feugiat urna, sit amet aliquet dui leo sed dui.
                </p>
            </div>
        </div>
        <hr>
        </div>
    </main>

{% endblock %}